.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);

  gap: 2px;
  margin-bottom: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #999;
}
